* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif, Times, serif;
}

#titulo {
  width: 100%;
  text-align: center;
  font-size: large;
}

#boas-vindas {
  columns: 100px 3;
}

#frase {
  font-size: larger;
  width: 100%;
  text-align: center;
}

#imagem-container {
  text-align: center;
}
